## Tutorials

- At the command line, log in to MySQL as the root user:   
```
mysql -u root -p   (command statement)
mysql-ctl cli      (goorim website)
```
check mysql.user ``` select Host,User,plugin from mysql.user; ```
<br> create a database user ```  GRANT ALL PRIVILEGES ON *.* TO 'username'@'localhost' IDENTIFIED BY 'password'; ```
use new username ```mysql -u username -p ```


- To create a database, type the following command. 
<br> Replace dbname with the name of the database that you want to create:
``` 
CREATE DATABASE dbname;
```
- To work with the new database, type the following command. 
<br> Replace dbname with the name of the database you created in step 5:
```
USE dbname;
```
- Work with the database.
``` 
CREATE TABLE example ( 
    id smallint unsigned not null auto_increment, 
    name varchar(20) not null, 
    constraint pk_example primary key (id) 
);
```
```
INSERT INTO example ( id, name ) VALUES ( null, 'Sample data' );
```

### Problem 1

【Homework10】Find a list of the names of all products that were ordered on January 10th, 1996 together with names of the company who ordered the product and total order value. You can find the total order value by multiplying the unit price with the number of units ordered and multiplying the result with (1-Discount). Note: the \`order details\` table has two words in its name. Use \`back-quotes\` to communicate to MySQL that this is one name. 

```SELECT __,__,__ FROM products AS p 
INNER JOIN 'order details' AS od ON 【条件】
INNER JOIN orders AS o ON 【条件】
INNER JOIN customers AS c ON 【条件】
WHERE 【specific item】;
```

SQL code:

```
SELECT p.ProductName, c.CompanyName, od.UnitPrice * od.Quantity * (1-od.Discount) AS total_order
FROM products as p INNER JOIN `order details` AS od
ON p.ProductID = od.ProductID
INNER JOIN orders AS o
ON od.OrderID = o.OrderID
INNER JOIN customers AS c
ON c.CustomerID = o.CustomerID
WHERE (o.OrderDate = '1996-01-10');
```

Answer: 

| ProductName              | CompanyName         | Total Order |
|:--|:--|:--|
| Fløtemysost              | Ernst Handel        |         344 |
| Thüringer Rostbratwurst  | Lehmanns Marktstand |     2228.22 |
| Raclette Courdavault     | Lehmanns Marktstand |        1375 |

### Problem 2

【Homework10】Find the company names of the three customers who spent the most in May 1996. List the company name along with the total amount spent (rounded to the second after-decimal digit of currency). Recall, that total amount spent on a single order can be computed as (unit price)\*(number of units ordered)\*(1-discount).

```SELECT A,B FROM customers AS c
INNER JOIN orders AS o ON 【条件】
INNER JOIN 'order details' AS od ON 【条件】
WHERE 【item1】 AND 【item2】
GROUP BY A
ORDER BY B DESC LIMIT 3;
```

SQL code:

```
SELECT c.CompanyName, SUM(od.UnitPrice*od.Quantity*(1-od.Discount)) as total
 FROM customers AS c INNER JOIN orders as o
 ON c.CustomerID = o.CustomerID
 INNER JOIN `order details` as od
 ON od.OrderID = o.OrderID
 WHERE o.OrderDate > '1996-04-30' AND o.OrderDate < '1996-06-01'
 GROUP BY c.CompanyName
 ORDER BY SUM(od.UnitPrice*od.Quantity*(1-od.Discount)) DESC;
 ```
 
 Answer:
 
 | Company Name                  | total amount spent             |
|:--|:--|
| Save-a-lot Markets           | 21150.05|
| Ernst Handel                 | 15719.75 |
| White Clover Markets         |            9831.25 |